[tool.poetry]
name = "fastapi-mlflow"
version = "0.3.0"
description = "Deploy mlflow models as JSON APIs with minimal new code."
authors = ["John Harrison <john.harrison@autotrader.co.uk>"]
readme = "README.md"
repository = "https://github.com/autotraderuk/fastapi-mlflow"
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
mlflow = "^1.23.0"
pydantic = "^1.9.0"
fastapi = ">=0.73.0"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
flake8-bugbear = "^22.1.11"
isort = "^5.10.1"
pytest = "^6.2.5"
pandas = "^1.2.0"
pandas-stubs = "^1.2.0"
numpy = "^1.22.1"
mypy = ">=0.931"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.mypy]
plugins = "numpy.typing.mypy_plugin"
